<?xml version="1.0" encoding="utf-8"?>
<package-def xmlns="http://oscript.io/schemas/lib-config/1.0">
    <module name="Версии" file="src/core/Модули/Версии.os"/>
    <class name="Версия" file="src/core/Классы/Версия.os"/>
    <class name="ДиапазонВерсий" file="src/core/Классы/ДиапазонВерсий.os"/>
    <class name="СравнениеВерсий" file="src/core/Классы/СравнениеВерсий.os"/>
</package-def>