<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">@Model.ЗаголовокЗаписи</h3>
    </div>
    <form class="form-horizontal" action="/repo/save" method="POST">
        <div class="card-body">
            <div class="form-group">
                <label for="Идентификатор">Идентификатор</label>
                <input type="number" class="form-control" name="Идентификатор" readonly  value=@Model.Запись.Идентификатор>
            </div>
            <div class="form-group">
                <label for="Имя">Наименование</label>
                <input type="text" class="form-control" name="Имя" placeholder="Введите название хранилища" value=@Model.Запись.Имя>
            </div>
            <div class="form-group">
                <label for="Ссылка">Ссылка</label>
                <input type="text" class="form-control" name="Ссылка" placeholder="Введите URL адрес хранилища" value=@Model.Запись.Ссылка>
            </div>
            <div class="form-group">
                <label for="ВерсияПлатформы">ВерсияПлатформы</label>
                <input type="text" class="form-control" name="ВерсияПлатформы" placeholder="Введите версию платформы 1С" value=@Model.Запись.ВерсияПлатформы>
            </div>
            <div class="form-group">
                <label for="Пользователь">Пользователь</label>
                <input type="text" class="form-control" name="Пользователь" placeholder="Введите пользователя хранилища" value=@Model.Запись.Пользователь>
            </div>
            <div class="form-group">
                <label for="Пароль">Пароль</label>
                <input type="password" class="form-control" name="Пароль" placeholder="Введите пользователя хранилища">
            </div>
            <div class="form-group">
                <label for="Комментарий">Комментарий</label>
                <textarea name="Комментарий" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Записать</button>
            <button type="button" class="btn btn-default float-right" onclick="location.href='/repo/index';">Отмена</button>
        </div>
    </form>
</div>