<div class="card card-secondary">
    <div class="card-header">
        <h3 class="card-title">@Model.ЗаголовокЗаписи</h3>
    </div>
    <form class="form-horizontal" action="/repo/save" method="POST">
        <div class="card-body">
            <div class="form-group">
                <label for="Идентификатор">Идентификатор</label>
                <input type="number" class="form-control" name="Идентификатор" readonly  value=@Model.Запись.Идентификатор>
            </div>
            <div class="form-group">
                <label for="Имя">Наименование</label>
                <input type="text" class="form-control" name="Имя" placeholder="Введите название хранилища" value=@Model.Запись.Имя>
            </div>
            <div class="form-group">
                <label for="Сервер">Сервер</label>
                <select class="form-control" name="Сервер" placeholder="Выберите сервер хранилищ">
                @foreach(var Сервер in Model.Серверы) {
                    @if (@Сервер.Идентификатор == @Model.ТекущийСервер) {
                        <option value="@Сервер.Идентификатор" selected>@Сервер.Имя (@Сервер.Адрес)</option>
                    } 
                    else {
                        <option value="@Сервер.Идентификатор">@Сервер.Имя (@Сервер.Адрес)</option>
                    }
                }
                </select>
            </div>
            <div class="form-group">
                <label for="Путь">Путь</label>
                <input type="text" class="form-control" name="Путь" placeholder="Введите относительный путь к хранилищу на сервере" value=@Model.Запись.Путь>
            </div>
            <div class="form-group">
                <label for="Пользователь">Пользователь</label>
                <input type="text" class="form-control" name="Пользователь" placeholder="Введите пользователя хранилища" value=@Model.Запись.Пользователь>
            </div>
            <div class="form-group">
                <label for="Пароль">Пароль</label>
                <input type="password" class="form-control" name="Пароль" placeholder="Введите пароль пользователя хранилища">
            </div>
            <div class="form-group">
                <label for="Комментарий">Комментарий</label>
                <textarea name="Комментарий" class="form-control" rows="2"></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Записать</button>
            <button type="button" class="btn btn-default float-right" onclick="location.href='/repo/index';">Отмена</button>
        </div>
    </form>
</div>