<div class="card-body">
    <div class="col-md-12 d-flex flex-row-reverse" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-primary btn-success" onclick="location.href='/repo/add';"><i class="fa fa-plus"></i> Добавить</button>
    </div>
    <table id="repos" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Идентификатор</th>
                <th>Ссылка</th>
                <th>Пользователь</th>
                <th>Комментарий</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ЭлементСписка in Model.Список)
            {
                <tr>
                    <td>@ЭлементСписка.Имя</td>
                    <td>@ЭлементСписка.Идентификатор</td>
                    <td>@ЭлементСписка.Ссылка</td>
                    <td>@ЭлементСписка.Пользователь</td>
                    <td>@ЭлементСписка.Комментарий</td>
                </tr>
            }
        </tbody>
    </table>
</div>